//  =====================================================
//  HTML Living Standard
//  Sections elements
//  https://html.spec.whatwg.org/multipage/sections.html
//  body, article, section, nav, aside, hgroup, header, footer, address
//  ======================================================


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $ucla-white;
	background-color: var(--ucla-white);
  color: $ucla-grey-80;
  color: var(--ucla-grey-80);
	font-family: $ucla-font-family;
  font-family: var(--ucla-font-family);
  font-size: $ucla-font-size;
  font-size: var(--ucla-font-size);
  line-height: $ucla-line-height-text;
  line-height: var(--ucla-line-height-text);
  border-top: 10px solid $ucla-blue;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

main,
header,
footer,
aside {}

// Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
