/* -------------------------------------------------------------------------- */

/*	16. Site Footer
/* -------------------------------------------------------------------------- */


.footer-nav-widgets-wrapper,
#site-footer {
	font-size: var(--ucla-font-size);
  background-color: var(--ucla-blue);
  color: var(--ucla-white);
}


.powered-by-wordpress, .to-the-top {
  color: var(--ucla-white);
}

.powered-by-wordpress, .to-the-top:hover {
  color: $ucla-dark-hover-state;
	color: var(--ucla-dark-hover-state);
	outline: 2px dotted $ucla-dark-focus-state;
}

.footer-nav-widgets-wrapper a, 
#site-footer a {
	color: $ucla-white;
	color: var(--ucla-white);
	text-decoration: underline;
}

.footer-nav-widgets-wrapper a:hover,
.footer-nav-widgets-wrapper a:focus
#site-footer a:hover,
#site-footer a:focus {
	text-decoration: none;
	color: $ucla-dark-hover-state;
	color: var(--ucla-dark-hover-state);
	outline: 2px dotted $ucla-dark-focus-state;
}

.footer-nav-widgets-wrapper .heading-size-3 {
	font-size: var(--ucla-font-size-display);
}

.ucla-social-media {
	display: flex;
	justify-content: space-between;
	max-width: 10em;
	gap: 1em;
}

.ucla-social-media img {
	width: 24px;
}