ul.primary-menu {
	display: flex;
	font-size: $ucla-font-size-medium;
	font-size: var(--ucla-font-size-medium);
	font-weight: 500;
	letter-spacing: -0.0277em;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: -0.8rem 0 0 -1.6rem;
	
}


/* REPLACE SUB MENU /vendor/twentytwenty/_04-site-header */

.primary-menu ul {
  background: $ucla-blue;
	background: var(--ucla-blue);
	border-radius: initial;
	color: #fff;
	font-size: 1rem;
	opacity: 0;
	padding: 1rem 0;
	position: absolute;
	right: 9999rem;
	top: calc(100% + 2rem);
	transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
	transform: translateY(0.6rem);
	width: 20rem;
	z-index: 1;
}

.primary-menu ul::after {
  border: 0.8rem solid transparent;
  border-bottom-color: $ucla-blue;
	border-bottom-color: var(--ucla-blue);
	right: 1.8rem;
}

.primary-menu a {
	color: $ucla-blue-darker;
	font-weight: 700;
	display: block;
	line-height: 1.2;
	text-decoration: none;
	word-break: normal;
	word-wrap: normal;
}

.primary-menu .icon::before,
.primary-menu .icon::after {
	content: "";
	display: block;
	background-color: $ucla-blue-darker;
	position: absolute;
	bottom: calc(50% - 0.1rem);
	left: 0;
}


.header-inner .toggle {
	align-items: center;
	display: flex;
	overflow: visible;
	padding: 0 2rem;
}

.header-inner .toggle {
	height: 2rem;
	padding: 0 3rem;
	position: relative;
	bottom: auto;
	left: auto;
	right: auto;
	top: auto;
	width: auto;
}


.header-inner .toggle path {
	fill: $ucla-blue;
}