.site-title {
	font-size: 2.1rem;
	font-weight: 600;
	line-height: 1;
}

.site-title a {
	color: inherit;
	display: block;
	text-decoration: none;
}

.site-title a:hover,
.site-title a:focus {
	text-decoration: underline;
}

.site-description {
	display: block;
	margin-top: 1rem;
	color: #6d6d6d;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: -0.0311em;
	transition: all 0.15s linear;
}

.site-logo a,
.site-logo img {
	display: block;
}

.site-logo img {
	display: block;
	width: 200px;
}

@media (min-width: 480px) {
	.site-logo img {
		width: 300px;
	}
}

/* -------------------------------------------------------------------------- */

/*	4.	Site Header
/* -------------------------------------------------------------------------- */


#site-header {
	background: #fff;
	position: relative;
}

.header-inner {
	max-width: 168rem;
	padding: 3.15rem 0;
	z-index: 100;
}

/* Header Titles ----------------------------- */

.header-titles-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 4rem;
	text-align: center;
}


@media ( min-width: 1000px ) {

	.header-titles {
		align-items: baseline;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: -1rem 0 0 -2.4rem;
	}

	.wp-custom-logo .header-titles {
		align-items: flex-start;
	}

}