// UCLA Brand Colors choose between hex, hsl, rgb. 
// Hex color space
 // Layout colors
 $ucla-blue: #2774ae;
 $ucla-darker-blue: #005587;
 $ucla-darkest-blue: #003b5c;
 $ucla-gold: #ffd100;

 // Text colors 
 $ucla-black: #000;
 $ucla-grey-80: #333;
 $ucla-grey-60: #666;
 $ucla-grey-40: #999;
 $ucla-grey-10: #e5e5e5; // also a layout color
 $ucla-white: #fff; // also a layout

 $ucla-grey-90: #1a1a1a;
 $ucla-grey-70: #4d4d4d;
 $ucla-grey-50: #808080;
 $ucla-grey-30: #b3b3b3;
 $ucla-grey-20: #ccc;

 // Interactive Colors
 // Interactive colors are used for buttons, links, tiles, and other navigational elements.
 // On light background colors
 $ucla-default-state:  #00598C; // rgb(0, 89, 140) 
 $ucla-hover-state:  #0079BF; // rgb(0, 121, 191) 
 $ucla-active-state: #003B5C; // rgb(0, 59, 92) 
 $ucla-focus-state:  #0079BF; // rgb(0, 121, 191) 
 $ucla-disabled-state:  #757575; // rgb(117, 117, 117) 
 $ucla-visited-state: #5223B0; // rgb(82, 35, 176) 

 // On dark background colors
 $ucla-dark-default-state:  #FFD100; // rgb(255, 209, 0) 
 $ucla-dark-hover-state:  #FFE500; // rgb(255, 229, 0) 
 $ucla-dark-active-state: #FFBF0F; // rgb(255, 191, 15) 
 $ucla-dark-focus-state:  #FFE500; // rgb(255, 229, 0) 
 $ucla-dark-disabled-state:  #E5E5E5; // rgb(229, 229, 229) 
 $ucla-dark-visited-state: #FFFFFF; // rgb(255, 255, 255) 

 // Denotive colors
 // are used for error, success, warning and other types of alerts. These colors should be used minimally and for their intended meanings only.
 $ucla-error-red:#D60000; // rgb(214, 0, 0) 
 $ucla-success-green: #007339; // rgb(0, 115, 57) 
 $ucla-warning-orange: #F57F17; // rgb(245, 127, 23) 
 $ucla-primary-alert:  #8BB8E8; // rgb(139, 184, 232) 
 $ucla-secondary-alert: #999999; // rgb(153, 153, 153) 

// Alternative color spaces
// hsl color space
// $ucla-gold: hsl(49, 100%, 50%);
// $ucla-blue: hsl(206, 63%, 42%);
// $ucla-lightest-blue: hsl(212, 95%, 93%);
// $ucla-lighter-blue: hsl(211, 67%, 73%);
// $ucla-darker-blue: hsl(202, 100%, 26%);
// $ucla-darkest-blue: hsl(202, 100%, 18%);
// $ucla-darker-gold: hsl(44, 100%, 59%);
// $ucla-darkest-gold: hsl(41, 100%, 55%);
// $ucla-cyan: hsl(180, 100%, 50%);
// $ucla-magenta: hsl(321, 100%, 50%);
// $ucla-green: hsl(152, 100%, 50%);
// $ucla-janss-steps-green: hsl(138, 55%, 43%);
// $ucla-yellow: hsl(60, 100%, 50%);
// $ucla-purple: hsl(259, 55%, 62%);

// $ucla-black: hsl(0, 0%, 0%);
// $ucla-grey-90: hsl(0, 0%, 10%);
// $ucla-grey-80: hsl(0, 0%, 20%);
// $ucla-grey-70: hsl(0, 0%, 30%);
// $ucla-grey-60: hsl(0, 0%, 40%);
// $ucla-grey-50: hsl(0, 0%, 50%);
// $ucla-grey-40: hsl(0, 0%, 60%);
// $ucla-grey-30: hsl(0, 0%, 70%);
// $ucla-grey-20: hsl(0, 0%, 80%);
// $ucla-grey-10: hsl(0, 0%, 90%);
// $ucla-white: hsl(0, 0%, 100%);

// RGB color space

// $ucla-blue: rgb(39, 116, 174);
// $ucla-darker-blue: rgb(0, 85, 135);
// $ucla-darkest-blue: rgb(0, 59, 92);
// $ucla-gold: rgb(255, 209, 0);
// $ucla-white: rgb(255, 255, 255);

// $ucla-lightest-blue: rgb(218, 235, 254);

// $ucla-lighter-blue: rgb(139, 184, 232);

// $ucla-darker-gold: rgb(255, 199, 44);
// $ucla-darkest-gold: rgb(255, 184, 28);
// $ucla-cyan: rgb(0, 255, 255);
// $ucla-magenta: rgb(255, 0, 165);
// $ucla-green: rgb(0, 255, 135);
// $ucla-janss-steps-green: rgb(50, 170, 86);
// $ucla-yellow: rgb(255, 255, 0);
// $ucla-purple: rgb(138, 105, 212);

// $ucla-black: rgb(0, 0, 0);
// $ucla-grey-90: rgb(26, 26, 26);
// $ucla-grey-80: rgb(51, 51, 51);
// $ucla-grey-70: rgb(77, 77, 77);
// $ucla-grey-60: rgb(102, 102, 102);
// $ucla-grey-50: rgb(128, 128, 128);
// $ucla-grey-40: rgb(153, 153, 153);
// $ucla-grey-30: rgb(179, 179, 179);
// $ucla-grey-20: rgb(204, 204, 204);
// $ucla-grey-10: rgb(229, 229, 229);
// $ucla-white: rgb(255, 255, 255);
