// ========================================== */
// SCSS Variables. 
// ========================================== */
$ucla-font-family: Helvetica, Arial, sans-serif;
$ucla-font-family-display: $ucla-font-family;
$ucla-font-family-system: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
$ucla-font-family-mono: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;

// Font Weights //
$ucla-font-weight-thin: 100;
$ucla-font-weight-light: 300;
$ucla-font-weight: 400;
$ucla-font-weight-medium: 500;
$ucla-font-weight-semi-bold: 600;
$ucla-font-weight-bold: 700;
$ucla-font-weight-xbold: 800;
$ucla-font-weight-black: 900;

// Type scale 
$ucla-text-scale-ratio: 1.125; // major second 

$ucla-font-size-xxxx-display: 4.11rem; //73px
$ucla-font-size-xxx-display: 3.653rem; //65px
$ucla-font-size-xx-display: 3.247rem; //58px
$ucla-font-size-x-display: 2.887rem; //46px
$ucla-font-size-display: 2.566rem; // 41px
$ucla-font-size-xxxx-large: 2.027rem; //36px;
$ucla-font-size-xxx-large: 1.802rem; //28px
$ucla-font-size-xx-large: 1.602rem; //25px
$ucla-font-size-x-large: 1.424rem; //22px
$ucla-font-size-large: 1.266rem; //20px
$ucla-font-size-medium: 1.125rem; //18px
$ucla-font-size: 1rem; //16px
$ucla-font-size-small: 0.889rem; // 14px
$ucla-font-size-x-small: 0.79rem; // 12px


$ucla-line-height-text: 1.5; //150%
$ucla-line-height-display: 1.125; //112.5%
$ucla-line-height-alt: 1.25; //125%
$ucla-line-height-text: 1;

$ucla-border-radius-x-small: .25rem;
$ucla-border-radius-small: .5rem;
$ucla-border-radius-medium: .75rem;
$ucla-border-radius-large: 1rem;
$ucla-border-radius-circle: 50%;

$ucla-border-width-hairline: 1px;
$ucla-border-width-thin: 2px;
$ucla-border-width-thick: 5px;


$ucla-max-width: 90rem;
$ucla-min-width: 60rem;
$ucla-spacing-x-small: .25rem;
$ucla-spacing-small: .5rem;
$ucla-spacing: .75rem;
$ucla-spacing-medium: 1rem;
$ucla-spacing-large: 1.5rem;
$ucla-spacing-xx-small: .125rem;
$ucla-spacing-x-large: 2rem;
$ucla-spacing-xx-large: 3rem;

// breakpoints relative to 16px base font
$ucla-bp-x-small: 18.75em; //300px
$ucla-bp-small: 30em; //480px
$ucla-bp-medium: 48em; // 768px;
$ucla-bp-large: 64em; // 1024px
$ucla-bp-x-large: 75em; // 1200px;
$ucla-bp-xx-large: 87.5rem; //1400px;


// UCLA Brand Colors choose between hex, hsl, rgb. 
// Hex color space
// Layout colors
$ucla-blue: #2774ae;
$ucla-blue-darker: #005587;
$ucla-blue-darkest: #003b5c;
$ucla-gold: #ffd100;

// Text colors 
$ucla-black: #000;
$ucla-grey-80: #333;
$ucla-grey-60: #666;
$ucla-grey-40: #999;
$ucla-grey-10: #e5e5e5; // also a layout color
$ucla-white: #fff; // also a layout

$ucla-grey-90: #1a1a1a;
$ucla-grey-70: #4d4d4d;
$ucla-grey-50: #808080;
$ucla-grey-30: #b3b3b3;
$ucla-grey-20: #ccc;

// Interactive Colors
// Interactive colors are used for buttons, links, tiles, and other navigational elements.
// On light background colors
$ucla-default-state:  #00598c; // rgb(0, 89, 140) 
$ucla-hover-state:  #0079bf; // rgb(0, 121, 191) 
$ucla-active-state: #003b5c; // rgb(0, 59, 92) 
$ucla-focus-state:  #0079bf; // rgb(0, 121, 191) 
$ucla-disabled-state:  #757575; // rgb(117, 117, 117) 
$ucla-visited-state: #5223b0; // rgb(82, 35, 176) 

// On dark background colors
$ucla-dark-default-state:  #ffd100; // rgb(255, 209, 0) 
$ucla-dark-hover-state:  #ffe500; // rgb(255, 229, 0) 
$ucla-dark-active-state: #ffbf0f; // rgb(255, 191, 15) 
$ucla-dark-focus-state:  #ffe500; // rgb(255, 229, 0) 
$ucla-dark-disabled-state:  #e5e5e5; // rgb(229, 229, 229) 
$ucla-dark-visited-state: #ffffff; // rgb(255, 255, 255) 

// Denotive colors
// are used for error, success, warning and other types of alerts. These colors should be used minimally and for their intended meanings only.
$ucla-error-red:#d60000; // rgb(214, 0, 0) 
$ucla-success-green: #007339; // rgb(0, 115, 57) 
$ucla-warning-orange: #f57f17; // rgb(245, 127, 23) 
$ucla-primary-alert:  #8bb8e8; // rgb(139, 184, 232) 
$ucla-secondary-alert: #999999; // rgb(153, 153, 153) 

// extra colors from print palette DON'T USE UNLESS BACKED INTO A DESIGN CORNER
$ucla-blue-lightest: #daebfe;
$ucla-blue-lighter: #8bb8e8;
$ucla-gold-darker: #ffc72c;
$ucla-gold-darkest: #ffb81c;
$ucla-cyan: #0ff;
$ucla-magenta: #ff00a5;
$ucla-green: #00ff87;
$ucla-janss-steps-green: #32aa56;
$ucla-yellow: #ff0;
$ucla-purple: #8a69d4;


